collected_files/
collect_news_app.py
collect_news_app.py
backend/processes.txt
collected_news_files/
myenv/
__pycache__/
db.sqlite3
*.pyc
*.pyo
*.log
*.sqlite3
*.env
changes.txt
backend/staticfiles/
backend/media/
