<nav>
    <ul class="icon-menu">
        <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a></li>
        <li><a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> О проекте</a></li>
        <li><a href="{% url 'how_it_works' %}"><i class="fas fa-cogs"></i> Как это работает</a></li>
        <li><a href="{% url 'civilizations' %}"><i class="fas fa-globe"></i> Цивилизации</a></li>
        <li><a href="{% url 'gameplay' %}"><i class="fas fa-gamepad"></i> Игровой процесс</a></li>
        <li><a href="{% url 'eternal_items' %}"><i class="fas fa-cube"></i> Вечные предметы</a></li>
        <li><a href="{% url 'research' %}"><i class="fas fa-flask"></i> Исследования</a></li>
        <li><a href="{% url 'participation' %}"><i class="fas fa-handshake"></i> Участие</a></li>
        <li><a href="{% url 'news' %}"><i class="fas fa-newspaper"></i> Новости</a></li>
        <li><a href="{% url 'faq' %}"><i class="fas fa-question-circle"></i> FAQ</a></li>
        <li><a href="{% url 'contact' %}"><i class="fas fa-envelope"></i> Контакты</a></li>
        <li><a href="{% url 'store' %}"><i class="fas fa-store"></i> Магазин</a></li>
        <li><a href="{% url 'map' %}"><i class="fas fa-map"></i> Карта</a></li>
    </ul>
</nav>
