<nav>
    <ul class="icon-menu">
        <li><a href="{% url 'home' %}"><i class="material-icons">home</i> Главная</a></li>
        <li><a href="{% url 'about' %}"><i class="material-icons">info</i> О проекте</a></li>
        <li><a href="{% url 'how_it_works' %}"><i class="material-icons">build</i> Как это работает</a></li>
        <li><a href="{% url 'civilizations' %}"><i class="material-icons">public</i> Цивилизации</a></li>
        <li><a href="{% url 'gameplay' %}"><i class="material-icons">sports_esports</i> Игровой процесс</a></li>
        <li><a href="{% url 'eternal_items' %}"><i class="material-icons">category</i> Вечные предметы</a></li>
        <li><a href="{% url 'research' %}"><i class="material-icons">science</i> Исследования</a></li>
        <li><a href="{% url 'participation' %}"><i class="material-icons">handshake</i> Участие</a></li>
        <li><a href="{% url 'news' %}"><i class="material-icons">article</i> Новости</a></li>
        <li><a href="{% url 'faq' %}"><i class="material-icons">help</i> FAQ</a></li>
        <li><a href="{% url 'contact' %}"><i class="material-icons">mail</i> Контакты</a></li>
        <li><a href="{% url 'store' %}"><i class="material-icons">store</i> Магазин</a></li>
        <li><a href="{% url 'map' %}"><i class="material-icons">map</i> Карта</a></li>

    </ul>
</nav>
