{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добро пожаловать на главную страницу!</h1>
<div style="border: 1px solid red; padding: 20px;">
    <h1>Добро пожаловать на главную страницу!</h1>
    <!-- остальной контент -->
</div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Наш проект</h5>
                        <p class="card-text">Описание того, чем мы занимаемся в Экоманер.</p>
                        <a href="{% url 'about' %}" class="btn btn-secondary">Подробнее</a>
                    </div>
                </div>
            </div>
            <!-- Можно добавить больше карточек -->
        </div>
    </div>
{% endblock %}
